@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgb(175, 90, 228);
    --color-secundario: rgb(236, 189, 228);
    --color-terciario: rgb(232, 232, 232);
    --color-text: rgb(33, 33, 33);
}

html {
    font-size: 17px;
    font-family: "Montserrat";
    scroll-behavior: smooth;


    body {
        background-color: var(--color-terciario);

        header {
            border-bottom: 1px solid var(--color-text);

            .cabecera {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 2rem;

                img {
                    width: 8rem;
                    height: auto;
                }

                h1 {
                    color: var(--color-principal);
                }
            }
        }

        nav {
            margin: 2rem auto;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;

                li {
                    padding: 0.25rem 1rem;
                    border: 1px solid;
                    border-radius: 0.75rem;
                    background-color: var(--color-secundario);
                    color: var(--color-principal);
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: var(--color-principal);
                    }
                }

                li:hover {
                    background-color: var(--color-terciario);

                    a {
                        color: var(--color-principal);
                    }
                }
            }
        }

        main {
            background-image: url('../assets/banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 20rem;
            position: relative;

            h2 {
                position: absolute;
                top: 50%;
                left: 2rem;
                color: var(--color-principal);
                text-shadow: 4px 4px 4px var(--color-secundario);
            }
        }

        #producto {
            margin: 0 auto;
            text-align: center;
        }

        h3 {
            color: var(--color-principal);
            font-weight: 600;
            text-transform: uppercase;
            padding: 1rem 0;
        }

        .product {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            gap: 2rem;
            padding: 2rem;
            justify-items: center;


            .card {
                width: 100%;
                border: 1px solid var(--color-principal);
                border-radius: 0.5rem;
                background-color: var(--color-secundario);
                box-shadow: 0 4px 4px rgb(230, 184, 240);
                padding: 0.5rem;
                transition: all 0.3s ease-in-out;

                a {
                    text-decoration: none;
                    color: var(--color-text);

                    h4 {
                        font-size: 1.2rem;
                        color: var(--color-principal);
                    }

                    img {
                        width: 100%;
                        margin: 0.5 rem auto;
                        border-radius: 0.25rem;
                    }

                    p {
                        span {
                            font-weight: 500;
                            padding: 0.25rem;
                            background-color: rgb(255, 233, 251);
                            border-radius: 0.5 rem;
                        }
                    }
                }

                button {
                    margin-top: 0.5rem;
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: var(--color-principal);
                    color: var(--color-text);
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(252, 233, 255);
                        color: var(--color-text);
                        border: 1px solid --color-text;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 6px 6px rgb(230, 184, 240);

                    img {
                        transform: scale(1.05);
                    }
                }


            }
        }

        #consulta {
            .consulta-container {
                display: flex;
                background-color: white;
                border-radius: 12px;
                box-shadow: 0 4px 12px rgb(230, 184, 240);
                overflow: hidden;
                width: 500px;
                margin: 0.25rem auto;
                flex: 1;
                padding: 40px;
                flex-direction: column;
                justify-content: left;
            }

            h4 {
                text-align: center;
                color: var(--color-principal);
                margin-bottom: 20px;
            }



        }
    }



    footer {
        margin: 5rem 0.5rem;

    }


}